.btnSair
{
	background-color:purple;
}
.btnProdutos
{
	float:right;
	margin-left:35%;
}
.btnClientes
{
	float:left;
	margin-right:35%;
}
.btnClientes,.btnProdutos
{
	margin-top:1%;
}
.navbarbotoes
{
	background-color:purple;
	margin-bottom:2%;
}
.buscajogoscorpo
{
	width:60%;
	margin-left:20%;
	margin-bottom:3%;
	margin-top:3%;
}
.btnCadastrar
{
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: purple;
    color:white;
    float:right;
}
.corpodecampos
{
 width: 70%;
 margin-top: 2%;
 margin-bottom: 2%;
}
.separadorcarrocel
{
    background-color: purple;
}

.container-menu-desktop {
  height: auto;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.menu-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: ruby-base;
  align-items: baseline;
  height: 80%;
}

.main-menu {
  list-style-type: none;
  margin: 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.main-menu > li.active-menu > a {
  color: #6c7ae0;
}