.btnSair
{
    background-color:purple;
}
.btnProdutos
{
    float:right;
    margin-left:35%;
}
.btnClientes
{
    float:left;
    margin-right:35%;
}
.btnClientes,.btnProdutos
{
    margin-top:1%;
}
.navbarbotoes
{
    background-color:purple;
    margin-bottom:2%;
}
.buscajogoscorpo
{
    width:60%;
    margin-left:20%;
    margin-bottom:3%;
    margin-top:3%;
}
.btnCadastrar
{
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: purple;
    color:white;
    float:right;
}
.corpodecampos
{
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.separadorcarrocel
{
    background-color: purple;
}
.qtdCarrinho
{
    width: 100px;
}
table
{
    text-align: center;
}
.informacoesdocliente
{

}
.informacoessobrepreco
{
    float:right;

}
.qtdDesconto{
    width: 70px;
}
.qtdValorTotal
{
    width: 70px;
}
.valorsubtotal
{
    width: 70px;
}

.btnContinuar
{
    margin-top: 5%;
    background-color: red;
}
.btnGeral
{
    margin-top: 5%;
    background-color: purple;
}
.corpobtnCadastrarCliente
{
    margin-top: 2%;
}
.btnFinalizar
{
    margin-top: 7%;
    background-color: lime;
    color:black;
}
.imagemcarrinho
{
    width: 15px;
}
.corpoopcaocartao
{
    border: 0.5px solid purple;
    border-radius: 10px;
}
.corpoopcaodinheiro
{
    margin-top: 2%;
    border: 0.5px solid purple;
    border-radius: 10px;
}
.corpovalortotal
{
    margin-bottom:  2%;
    border: 0.5px solid purple;
    border-radius: 10px;
}
.titulocorpopagamento
{
    margin-top: 2%;
}
.corpopagamento
{
    margin-left: 4%;

}
.corpoopcaocartao,.corpoopcaodinheiro,.corpovalortotal
{
    margin-left: 15%;
    padding-bottom: 2%;
    padding-top: 2%;
}
.corpodebotoesfinais
{
    margin-top: 4%;
    margin-left: 25%;
    margin-bottom: 4%;
}
.vezesCartao
{
    width: 16%;
}
#bandeira
{
    width: 25%;
}
#numeroComprovante
{
    width: 35%;
}
#valorParcela
{
    width: 25%;
}
.btnFinalizarImprimir
{
    background-color: greenyellow;
    color:black;
}
.btnVoltaCarrinho
{
    background-color: orange;
}
.btnCancelar
{
    background-color: black;
    color:white;
}
.valorEmEspecie
{
    width: 30%;
}

#cartao,#dinheiro
{
    margin-bottom:2%;
}
